div.colorblock{
    width:10px;
    height:10px;
    border:1px solid black;
}
body{
    display:flex;
    flex-direction: row;
    
}
div.colorpicker{
    display:flex;
    flex-wrap:wrap;
    width:200px;
    height:auto;
}
div.controls{
    border:1px solid black;
    width:25%;
    height:500px;
    padding:10px 25px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
form{
    width:75%;
    padding:1rem;
    border: solid 1px black;
    margin:50px 0px;
    display:flex;
    flex-direction:column;
    align-content:space-between;
    justify-content:space-between;
}
input,button{
    height:2rem;
    margin:10px 0px;

}

.grid{
    border:1px solid black;
    width:75%;
    height:auto;
    padding:10px 25px;
    display:flex;
    flex-direction:column;
    
}

td{
    border: 1px black solid;
    width: 50%;
    height: 7vh;
    display: flex;
    flex-wrap: wrap;
    

}


tr{
    display: flex;
    
}

table{
    width: 75%;
    height: 25%;
}




